/* header */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 65%;
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px red;
}
.name_container {
  padding: 2rem;
  margin-left: 2rem;
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
  background-color: rgb(6, 131, 131);
  color: #fff;
}
.nav {
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  font-size: 2rem;
  color: grey;
}
.nav__item {
  display: block;
  padding: 1rem;
}

.nav-link {
  text-decoration: none;
  color: currentColor;
}

/* content */
.content {
  padding: 3rem;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 2.5rem;
  color: rgb(6, 131, 131);
}
p {
  font-size: 1.5rem;
}

/* about me page */
#about-me-page {
  background-color: #fff;
  padding: 2rem;
  margin-right: 2rem;
}

.profile-img {
  width: 200px;
  height: auto;
  float: left;
  margin-right: 3rem;
}

/* connect  */
.connect {
  background-color: rgb(195, 189, 189);
  width: min-content;
  height: min-content;
  padding: 2rem;
}
.connect-img {
  display: flex;
  justify-content: space-between;
}
.connect-img-item {
  width: 80px;
  height: auto;
  padding: 0.5rem;
}

/* portfolio img */
#portfolio {
  background-color: #fff;
}
.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: auto;
}
.portfolio-img img {
  width: 150px;
  height: auto;
}
/* form */
input {
  display: block;
  width: 100%;
  margin-bottom: 3rem;
}
label {
  font-size: 1.5rem;
}
textarea {
  width: 100%;
  margin-bottom: 3rem;
}
#submit {
  width: 50%;
}
footer {
  background-color: darkgray;
  color: white;
  padding: 2rem;
}
